
controllers/controllers/controller1/logs
controllers/controller1/tflog
Emobit/.godot
controllers/controllers/controller1/__pycache__
controllers/controllers/controller1/tflog
*.pyc
*.zip
*.0

controllers/controllers/v3/models_*
/controllers/controllers/v3/t1
/controllers/controllers/v3/t1
